body {
  font-family: Helvetica;
  margin: 0;
}

.header {
  width: 400px;
  margin: 0 auto;
}

.header-cart {
  width: 285px;
  margin: 0 auto;
}

.flexbox-header {
  display:flex;
  padding-left:20px;
  padding-top:20px;
  margin-bottom:24px;
}

.flexbox-htop {
  font-size: 24px;
  text-align:center;
  display:flex;
  padding:30px;
  justify-content:flex-end;
  gap: 20px;
  padding-right:50px;
}

.flexbox-hbottom {
  font-size: 24px;
  padding:16px;
  justify-content:flex-start;
  padding-top:30px;
}

.underline-space {
  width:100%;
  height:200px;
} 

.logo-underline {
  width:98%;
  height:4px;
  background-color:black;
}

.logo-underline2 {
  width: 500px;
  height:4px;
  background-color:black;
}

.logo {
  margin-left: 0;
  width: 400px;
}

.current {
  background-color: yellow;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.current2 {
  color : black;
  margin-right: 100px;
}

.current3 {
  color : black;
}

.product-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.product {
  flex-basis:33%;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content: flex-end;
  margin-bottom: 10px;
  text-decoration: none;
}

.product-highlight{
  align-items:center;
  flex-direction:column;
  justify-content: center;
}

.product-highlight:hover{
  background-color: yellow;
  font-weight: bold;
}

.product-text {
  padding: 10px;
  justify-content:flex-start;
}

#ul {
  text-decoration: underline;
}

.bold-remove{
  font-weight: bold;
}

.cart-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.cart-flexbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.cart-flexitem1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 80px;
  padding-left: 20px;
}

.cart-flexitem2 {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cart-flexitem3 {
  margin-right: 430px;
}

.cart-flexitem4 {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cart-flexitem5 {
  display: flex;
  justify-content: flex-start;
  padding-left: 560px;
}

.cart-flexitem6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 160px;
}

.page-flexbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}

.page-flexitem1 {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font: size 24px;
}

.flexbox-page-bottom {
  font-size: 24px;
  justify-content:flex-start;
  padding-top:30px;
}

.flexbox-page-top {
  padding-top: 40px;
  font-size: 24px;
  text-align:center;
  padding:30px;
  justify-content:flex-end;
}

.product-img {
  border: 2px solid black;
  width: 285px;
  height: 285px;
}

.product-page-img {
  border: 2px solid black;
  width: 600px;
  height: 600px;
}


.product-img-cart {
  border: 2px solid black;
  width: 200px;
  height: auto;
}

.options-form select {
  display: block;
  width: 80%;
  cursor: pointer;
}

.options-form label,
.options-form select,
.price {
  display: block;
  margin-bottom: 80px;
}

.value-size {
  font-size: 24px;
}

.price-and-cart {
  display: flex;
  gap: 10px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  padding: 10px 0px;
}


.add-to-cart {
  background-color: yellow;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
  margin: 15px;
  padding: 0px 30px;
}

.badge-pos {
  color: black;
  text-decoration: none;
  padding: 0px 20px;
  position: relative;
}

.cart-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 6px 6px;
  font-size: 20px;
  position: absolute;
  top: -15px;
  right: -10px;
}